# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
pythonenv*

# Flask
instance/
.webassets-cache

# Deployment
*.zip
*.tar.gz
*.egg-info/
dist/
build/

# AWS
.elasticbeanstalk/
.ebextensions/
!.ebextensions/*.config

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
logs/
*.log
